.log
.class
bin

*#
*~
*.bak
*.sav
*.lyx.emergency
*-lyxformat-474.lyx
target
.cache
.cache-main
.cache-tests
.history
.lib
dist/*
isabelle/output
code/node_modules

stuff
eclipse.sh
talks/talk_2017-may
